<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="~{fragments/header::head}">
<body>
<div th:replace="~{fragments/header::header}"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a href="createPersonForm" class="btn btn-primary">Create New Person</a>
    </div>

    <div class="container mt-4">
        <h1 class="mb-4">People List</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${people}">
                    <td th:text="${person.personId}">1</td>
                    <td th:text="${person.firstName}">John</td>
                    <td th:text="${person.lastName}">Doe</td>
                    <td th:text="${person.email}">john.doe@example.com</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>
