<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="~{fragments/header::head}"></head>
<body>
<div th:replace="~{fragments/header::header}"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a href="" class="btn btn-primary">Create New Transport</a>
    </div>

    <div class="container mt-4">
        <h1 class="mb-4">Transports List</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Transport</th>
                    <th scope="col">From City</th>
                    <th scope="col">Time</th>
                    <th scope="col">To City</th>
                    <th scope="col">Time</th>
                    <th scope="col">amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transport : ${transports}">
                    <td th:text="${transport.transportId}">1</td>
                    <td th:text="${transport.typeTransport}">FLIGHT</td>
                    <td th:text="${transport.departureCity}">New York</td>
                    <td th:text="${transport.departureTime}">2024-06-30T08:00:00Z</td>
                    <td th:text="${transport.arrivalCity}">Los Angeles</td>
                    <td th:text="${transport.arrivalTime}">2024-06-30T10:30:00Z</td>
                    <td th:text="${transport.amount}">350.50</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>