<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<body>
    <footer th:fragment="footer">
        <p>Footer Content</p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXlPILFhosVNubq6ILtYk+n5PBBJf7b6k9y0lFhbGU+6k6WakF5aJaZrF7HE"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
                integrity="sha384-cn7l7gDp0eylgZMQZZsSBDP5u5K1Q1TtvjlaS1dCtvwZoI1BUm5I76Q6fj8Of2Ym"
                crossorigin="anonymous"></script>
    </footer>
</body>
</html>